

.App{
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  height: 100vh; 
  /* background-color:#f0ffff; */
  background: rgb(43,52,103);
  background: radial-gradient(circle, rgba(43,52,103,1) 0%, rgba(186,215,233,1) 100%);
  

  
}
